#jogo{
    width:553px;
    height:550px;
    border:solid 3px;
	margin: 0 auto;
}
 
.linha{
    height:25%;
    border-bottom:solid 1px;
}

.field{
    width:24.82%;
    height:100%;
    border-right:solid 1px;
    float:left;
	text-align: center;
	vertical-align: center;
	line-height: 280%;  
	font-weight: bold;
	font-size: 300%;
}
